/* Section1 */
#section1{
  background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)), url('./img/bernard-hermant-J0mCeeJh0nc-unsplash.jpg');
}
.degrade{
    background:linear-gradient(RGB(0,120,240, 0.5), RGB(0,240,120, 0.2));
}
/* Section2 */
#section2{
  /* background-image: url('./img/Vector\ 2.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/* Section6 */
textarea{
  height: 170px !important;
}
#footer{
  background:linear-gradient( RGB(0,240,120, 0.1), RGB(0,120,240, 0.3));
  height: 50px !important;
}

@media (max-width: 578px) {
  .colonne{
    margin-top: 50px !important;
  }
}