/* Section1 */
#section1{
  background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)), url('./img/bernard-hermant-J0mCeeJh0nc-unsplash.jpg');
}
.degrade{
    background:linear-gradient(RGB(0,120,240, 0.5), RGB(0,240,120, 0.2));
}
/* Section2 */
#section2{
  /* background-image: url('./img/Vector\ 2.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
/* Section3 */
.card:hover{
  transform: scale(0.9);
  background: #ffc107;
  color: white !important;
  }
.card:hover .bakeli{
  color: #7cb8f1 !important;
  }
.card:hover .bakeli2{
  color: #7cb8f1 !important;
  font-weight: bold;
  }
  .card:hover .bouton{
    background: #7cb8f1 !important;
    color: white !important;
    border: #7cb8f1 1px solid !important;
  }
/* Section6 */
.sondage{
  background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)), url('./img/zack-walker-iu0vI_V9218-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
textarea{
  height: 170px !important;
}
#footer{
  background:linear-gradient( RGB(0,240,120, 0.1), RGB(0,120,240, 0.3));
  height: 50px !important;
}

@media (max-width: 578px) {
  .colonne{
    margin-top: 50px !important;
  }
}